:local(.header) {
  background-color: var(--primary-green);
  margin: 0;
  padding: 0;
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

:local(h1) {
  margin: 0;
  padding: 0;
}

:local(.userName) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

:local(.totals h2) {
  color: var(--secondary-text-color);
  margin: 0;
  padding: 0;
}

:local(.totals p) {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

:local(.totals) {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

:local(.hamburgerIcon) {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

:local(.mobileMenu) {
  position: fixed;
  width: 75%;
  min-height: 100vh;
  top: 0;
  right: 0;
  background: var(--secondary-background-color);
  z-index: 500;
}

:local(ul) {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

:local(.closeMenuIcon) {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
  text-align: right;
  margin-right: 1rem;
  width: calc(100% - 1rem);
  font-weight: var(--font-extra-bold);
}

:local(.closeMenuIcon h2) {
  margin: 0;
  margin-top: .5rem;
  font-size: 24px;
}

:local(li) {
  font-weight: var(--font-medium);
  font-size: 1.5rem;
}

:local(li a) {
  all: unset;
}

:local(.active) {
  font-weight: var(--font-semi-bold);
  color: var(--primary-green);
}

:local(.menu) {
  display: none;
}

/* Small Devices (Tablets, >= 576px) */
@media (min-width: 576px) {
  :local(.mobileMenu) {
    display: none;
  }

  :local(.hamburgerIcon) {
    display: none;
  }

  :local(.headerInfo) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  :local(.userName) {
    padding: 0;
    margin: 0;
    padding-top: 10px;
  }

  :local(.userName h1) {
    font-size: 24px;
  }

  :local(.totals) {
    flex-direction: row;
  }

  :local(.totals h2) {
    font-size: 16px;
  }

  :local(.totals p) {
    font-size: 14px;
  }

  :local(h1) {
    padding: 0;
    margin: 0;
  }

  :local(.menu) {
    display: block;
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: var(--secondary-background-color);
  }

  :local(.menu ul) {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 0;
  }

  :local(.menu ul li) {
    font-size: 16px;
  }

}

/* Medium Devices (Desktops, >= 768px) */
@media (min-width: 768px) {
  :local(.header) {
    height: 74px;
    padding-top: 5px;
    padding-bottom: 0px;
    align-items: center;
  }

  :local(h1) {
    font-size: 24px;
    align-self: baseline;
  }

  :local(h2) {
    font-size: 16px;
  }

  :local(p) {
    font-size: 14px;
  }

  :local(.userName) {
    padding-top: 18px;
  }
}

/* Large Devices (Large Desktops, >= 992px) */
@media (min-width: 992px) {}

/* Extra Large Devices (Desktops, >= 1200px) */
@media (min-width: 1200px) {}

/* Extra Extra Large Devices (Extra Extra Large Desktops, >= 1400px) */
@media (min-width: 1400px) {}
